body,
html {
  height: 100%;
}
body {
  position: relative;
  color: $default;
  @extend %poppins-400;
  font-size: 17px;
  line-height: 30px;
  background-color: $dark;
}

//Класс, для того, чтоб страница не скроллилась после открытия меню
body.hidden {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.container-content {
  max-width: 1670px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title {
  @extend %gilroy-800;
  font-size: 60px;
  line-height: 74px;
  text-transform: capitalize;
  color: $white;
}

.btn-fill {
  background: $dark;
  transition:  all .3s linear;
  &:hover {
    background: $gradient;
    * {
      color: $white;
    }
  }
}

.link-fill {
  display: inline-block;
  background: $gradient;
  padding: 13px 49px;
  font-size: 22px;
  line-height: 28px;
  color: $white;
  border-radius: 50px;
  @extend %poppins-500;
  transition: all 0.2s linear;
  &:hover {
    background: $gradient-hover;
  }
}

.btn-reset {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}