$accent: #ff512f;
$white: #fff;
$default: #a1a1a1;
$gradient: linear-gradient(93.95deg, #FF512F 0%, #DD2476 100%);
$gradient-hover: linear-gradient(207.95deg, #FF512F 24%, #DD2476 66%);
%poppins-300 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
%poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
%poppins-500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
%poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

%poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%gilroy-800 {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-style: normal;
}

%reem-400 {
  font-family: "Reem Kufi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%reem-600 {
  font-family: "Reem Kufi", sans-serif;
  font-weight: 600;
  font-style: normal;
}

%reem-700 {
  font-family: "Reem Kufi", sans-serif;
  font-weight: 700;
  font-style: normal;
}

// %burger-width{
//   width: ;
// }
// %burger-height{
//   height: ;
// }
// %burger-line-height{
//   height: ;
// }
