.footer {
  background-color: $black;
  &__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    padding: 120px 0 128px;
  }
  &__info {
    margin-top: -20px;
    grid-column: 5 span;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  &__descr {
    max-width: 330px;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  &__item {
    grid-column: 2 span;
  }
  &__item-title {
    position: relative;
    color: $white;
    @extend %poppins-600;
    font-size: 22px;
    line-height: 36px;
    text-transform: capitalize;
    padding-bottom: 3px;
    margin-bottom: 30px;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 50px;
      height: 3px;
      background-color: $accent;
      border-radius: 50px;
    }
  }
  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  &__nav-link {
    font-size: 18px;
    line-height: 29px;
    transition: color 0.2s ease-in;

    &:focus {
      outline: 1px solid $accent;
      outline-offset: 2px;
    }

    &:hover {
      color: $white;
    }

    &:active {
      color: $accent;
    }
  }
  &__newsletter {
    grid-column: 3 span;
  }
  &__bottom {
    background-color: $dark;
    text-align: center;
    padding: 28px 24px;
  }
  &__bottom-copy {
    font-size: 16px;
    line-height: 28px;
  }
}

.social {
  display: flex;
  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__link {
    display: block;
    width: 42px;
    height: 41px;
    border-radius: 25px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:focus {
      outline: 1px solid $accent;
      outline-offset: 2px;
    }

    &:hover {
      .social__link-fill {
        fill: $accent;
        stroke: $accent;
      }
      .social__link-stroke {
        stroke: $white;
      }
    }

    &:active {
      .social__link-stroke {
        stroke: $default;
      }
    }
  }
  &__link-fill,
  &__link-stroke {
    fill: transparent;
    stroke: $default;
    transition: all 0.2s ease-in;
  }
}
.footer-form {
  position: relative;
  &__input {
    width: 100%;
    border: 2px solid $default;
    padding: 18px 82px 18px 30px;
    border-radius: 50px;
    padding: 18px 30px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white;

    &:focus {
      outline: 1px solid $accent;
      outline-offset: 2px;
    }

    &::placeholder {
      color: $white;
      text-transform: capitalize;
    }
  }
  &__btn {
    @include flex-all-center;
    position: absolute;
    height: 54px;
    width: 68px;
    top: 5px;
    right: 7px;
    background-color: $accent;
    background-image: url('../images/svg/tg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 30px;

    padding: 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    &:focus {
      outline: 1px solid $accent;
      outline-offset: 2px;
    }
    &:hover {
      background-color: $accent-hover;
    }
  }
 
}
