.profile {
  padding: $padding;
  &__inner {
    display: flex;
  }
  &__author {
    margin-right: 60px;
  }
}
.profile-tabls {

  &__nav {
    margin-bottom: 40px;
  }
  &__content-items {
    display: grid;
    grid-template-columns: repeat(3, 263px);
    grid-gap: $gap;

    .card-item__link {
      width: 233px;
      height: 233px;
    }

    .card-item__owned-eth {
      padding-left: 0;
      margin-left: 0;
      margin-right: auto;
    }
    .card-item__owned-link:hover {
      color: $accent;
    }
  }
}
