.profile {
  padding: $padding;
  &__inner {
    display: flex;
  }
  &__author {
    margin-right: 60px;
  }
}
.profile-tabls {
  .explore-filter__btn {
    transition: none;
    &:hover {
      color: $accent;
      border-color: $accent;
    }
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  &__btn {
    margin-bottom: 5px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  .tab-btn--active {
    border-color: $accent;
  }
  &__content-items {
    .cards__item {
      grid-column: 4 span;
    }
    .card-item__link {
      width: 100%;
      height: 100%;
    }

    .card-item__owned-eth {
      padding-left: 0;
      margin-left: 0;
      margin-right: auto;
    }
    .card-item__owned-link:hover {
      color: $accent;
    }
  }
}
