.banu-btn-prev {
  left: -71px;
}

.banu-btn-next {
  right: -67px;
}

.banu-btn-prev,
.banu-btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5) 0.29%,
    rgba(255, 255, 255, 0.1) 99.71%,
    rgba(0, 0, 0, 0.5) 99.71%
  );
  cursor: pointer;
  user-select: none;

  &:focus {
    outline: 1px solid $accent;
    outline-offset: 2px;
  }

  &:hover {
    background: $gradient;
  }
}

.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.collections-prev {
  left: -31px;
}
.collections-next {
  right: -27px;
}
.collections-next,
.collections-prev {
  transform: translateY(-90%);
}
