.creators-swiper-prev {
  left: -71px;
}
.creators-swiper-prev,
.creators-swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0.29%, rgba(255, 255, 255, 0.1) 99.71%, rgba(0, 0, 0, 0.5) 99.71%);
  cursor: pointer;
  user-select: none;
  &:hover {
    background: $gradient;
  }
}
.creators-swiper-next {
  right: -67px;
}


.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

